.col-md-4 {
	border: solid black 1px;
	text-align: center;
	background-color: #EBDCCA;
}

body {
	background-image: url("/img/brimstone.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

#container {
	margin-top: 50px;
	background-color: #77AD65;
	border: solid #FFDE24 10px;
}

h1 {
	text-align: center;
	color: white;
}

h2 {
	text-align: center;
	color: white;
}

#map {
	height: 450px;
	margin-top: 50px;
}

button {
	margin-bottom: 20px;
	background-color: #008CFF;
}

html {
	background-color: black; 
}

#drag-info {
	color: white;
}


